<div class="repo p-2 text-center" style="max-width: 100%; width: 100%;">
  <a href="https://github.com/{{ include.username }}">
    <!-- Original links kept for history -->
    <!-- <img class="repo-img-light w-100" alt="{{ include.username }}" src="https://github-readme-stats.vercel.app/api/?username={{ include.username }}&theme={{ site.repo_theme_light }}&show_icons=true"> -->
    <!-- <img class="repo-img-dark w-100" alt="{{ include.username }}" src="https://github-readme-stats.vercel.app/api/?username={{ include.username }}&theme={{ site.repo_theme_dark }}&show_icons=true"> -->

    <!-- Alternative 1: sigma-five (Currently throwing PAT_1 error) -->
    <!-- <img class="repo-img-light w-100" alt="{{ include.username }}" src="https://github-readme-stats-sigma-five.vercel.app/api/?username={{ include.username }}&theme={{ site.repo_theme_light }}&show_icons=true"> -->
    <!-- <img class="repo-img-dark w-100" alt="{{ include.username }}" src="https://github-readme-stats-sigma-five.vercel.app/api/?username={{ include.username }}&theme={{ site.repo_theme_dark }}&show_icons=true"> -->

    <!-- Alternative 2: github-profile-summary-cards (Currently working) -->
    <img class="repo-img-light w-100" alt="{{ include.username }}" src="https://github-profile-summary-cards.vercel.app/api/cards/profile-details?username={{ include.username }}&theme={{ site.repo_theme_light }}">
    <img class="repo-img-dark w-100" alt="{{ include.username }}" src="https://github-profile-summary-cards.vercel.app/api/cards/profile-details?username={{ include.username }}&theme={{ site.repo_theme_dark }}">
  </a>
</div>
